langchain
langchain-community
langfuse
sentence-transformers
qdrant-client
langchain-groq
python-dotenv
neo4j
fastapi
uvicorn
ragas
datasets
pypdf
starlette<0.38.0
jinja2<3.1.4
requests
fastembed
huggingface_hub<0.24.0
